<div>Booonos Antiguedad Tienda.</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">

      <form class="form-group">

      	<div class="form-group">

      		<label for="">Antiguedad</label>
        	<input type="number" value="" placeholder="" ng-model="vm.antiguedad">

      	</div>     
        <div class="form-group">
           <button type="button" ng-click="vm.bonoAntiguedad()">Calcular</button>
        </div>
      </form>
       	<p>Antiguedad:{{vm.antiguedad}}</p>
      	<p>valor bono:{{vm.bono}}</p>
      
    </div>

  </div>

</div>
