@import "../bower_components/font-awesome/css/font-awesome.css"
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
  font-family: 'Glyphicons Halflings'
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through grunt
/* inject:styl */
@import 'areaCircuferencia/areaCircuferencia';
@import 'areaFigura/areaFigura';
@import 'areaRectangulo/areaRectangulo';
@import 'areaTerreno/areaTerreno';
@import 'conagua/conagua';
@import 'distancia/distancia';
@import 'main/main';
@import 'parte3/cometa/cometa';
@import 'parte3/consultorio/consultorio';
@import 'parte3/naufrago/naufrago';
@import 'parte3/sueldo/sueldo';
@import 'parte3/telefonica/telefonica';
@import 'parte3/viajes/viajes';
@import 'parte4/3.10-vacaciones/vacaciones';
@import 'parte4/3.11-bonos-tienda/bonos-tienda';
@import 'parte4/3.12-sueldo-semanal/sueldo-semanal';
@import 'parte4/3.13-viaje-estudios/viaje-estudios';
@import 'parte4/3.14-calificacion/calificacion';
@import 'parte4/3.15-dia-semana/dia-semana';
@import 'parte4/3.16-bono-profesor/bono-profesor';
@import 'parte4/3.17-paquete-diciembre/paquete-diciembre';
@import 'parte4/3.18-bono-navideño/bono-navideño';
@import 'parte4/3.19-tipo-vacuna/tipo-vacuna';
@import 'parte4/3.20-pantalones/pantalones';
@import 'parte4/3.21-banco/banco';
@import 'parte4/3.7-becas/becas';
@import 'parte4/3.8-bonos/bonos';
@import 'parte4/3.9-polizas/polizas';
@import 'promedio/promedio';
@import '../components/footer/footer';
@import '../components/modal/modal';
/* endinject */
